*{
    margin:0;
    padding:0;
}
body{
    font-family:  Geneva, Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #3598dc;
    height: 100%;
    min-height: 100%;
}

.reg-form{
    background-color: #fff;
    color: #777777;
    width:30vw;
    min-width: 250px;
    border-radius: 5px;
    margin: 15% auto;
    padding: 25px 0 25px 0;
}
.reg-inside-wrapper{
    width:auto;
    margin: 5% 3% 0 3%;
}
.reg-head {
    text-align: center;

}
.reg-head h2{
    font-size: 2rem;
}
input{
    width:100%;
    height:45px;
    background-color: #ecf0f1;
    border: none;
    border-radius: 2px;
    text-align: center;
    font-size: 1rem;
}

input:focus{
    background: none;
    transition: 0.2s ease;
}


.reg-inpt  {
    margin-top: 4%;
    margin-bottom: 2%;
    margin-left:2%;
    margin-right:2%;
    position:relative;
}

.btn-wrap{
    width:96%;
    height:100%;
    margin:4% 2% ;

}
.btn-wrap input{
    border-radius: 2px;
    display: block;
    text-align: center;
    line-height: 45px;
    height:45px;
    width:100%;
    background:#3598dc;
    border:none;
    color:#fff;
    font-size: 1rem;
    text-decoration: none;
}
.btn-wrap input:hover{
    cursor: pointer;
    background-color: rgba(53,152,220,0.6);
    transition: 0.2s ease;
}

.reg-lst-pass{
    text-align: center;
    font-size: 0.85rem;
}
.reg-lst-pass a {
    color: #5f5f5f;
}

form .ng-valid.ng-dirty {
    background-color: lightgreen
}

form .ng-invalid.ng-dirty {
    background-color: pink
}

form .ng-invalid-email {
     border: 2px solid lightcoral;
}

.match_pass {
    border: 2px solid lightcoral;
}

.error-box {
    position: absolute;
    top:-48px;
    right:50px;
    color:grey;
    z-index: 9999;
    line-height: 25px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #fff549;
    padding:2%;
    
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 8px solid #fff549;
  position: absolute;
  bottom:-8px;
  left:16px;

}